.header {
    text-align: left;
}
.header-top-link {
    height: 28px;
    background: #040404;
}
.header-top-link-container {
    width: 1024px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.header-top-container {
    background: url(../images/header_top_container_bg.jpg) repeat-x;
    height: 100%;
    padding-left:25px;
    padding-right:25px;
}
.header-top {
    padding: 0px;
    width: 1024px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.header-left {
    background: url(../images/header-left-other.png) no-repeat left center;
    float: left;
    height: 178px;
    width: 335px;
    margin-left: 70px;
}

h1#logo {
    float: left;
    width: 202px;
    margin: 10px 0 0px 0px;
}

h1 {
    font-size: 2em;
    line-height: 1.17;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.header-nav-container {
    background: #fff;
}

.header-nav {
    width: 1100px;
    margin: 0 auto;
    height: 39px;
    background: #000;
    border-bottom: 2px solid #fff;
}

#menu1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color: black;
    height: 40px;
    /* -webkit-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    /* -ms-border-radius: 5px; */
    /* -o-border-radius: 5px; */
    /* border-radius: 5px; */
    padding: 0;
    display: block;
    line-height: 1;
    width: 1100px;
}

#menu1 ul {
    list-style: none;
}

#menu1 h1, #menu1 ul, #menu1 p, #menu1 img {
    margin: 0;
    padding: 0;
    border: 0;
}

#menu1 .menu-top > li {
    float: left;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#menu1 .menu-button {
    display: block;
    line-height: 40px;
    padding: 0 13px;
    color: white;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

/*purple round button*/
.purple-round-button {
    width:180px;
    padding-top:15px;
}
.purple-round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;
    background: #9954bb;

    box-shadow: 0 0 3px gray;
}
.purple-round-button-circle:hover {
    background:#7E3F9D;
}
.purple-round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:15%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

/*green round button*/
.green-round-button {
    width:180px;
    padding-top:15px;
}
.green-round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;
    background: #3fb618;

    box-shadow: 0 0 3px gray;
}
.green-round-button-circle:hover {
    background:#2f8912;
}
.green-round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:30%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

/*white background button*/
/*green round button*/
.white-round-button {
    width:180px;
    padding-top:15px;
}
.white-round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;
    /*background: #3fb618;*/

    box-shadow: 0 0 3px gray;
}
.white-round-button span {
    display:block;
    float:left;
    width:100%;
    padding-top:25%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
}

/*new purple*/
.newpurple-round-button {
    width:180px;
    padding-top:15px;
}
.newpurple-round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #9954bb;
    overflow:hidden;
    /*background: #3fb618;*/

    box-shadow: 0 0 3px gray;
}
.newpurple-round-button span {
    display:block;
    float:left;
    width:100%;
    padding-top:10%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
}



#footer {
    position: relative;
    clear: both;
    overflow: auto;
    min-height: 100px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 25px 10px 10px 10px;
    /* background-image: url(/shop/skin/frontend/default/cibaria-supply/images/footer-shadow.png); */
    background-repeat: repeat-x;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
}

.column-contacts {
    float: right;
    width: 23%;
    min-height: 125px;
    margin: 0;
}

#footer .column1, #footer .column2, #footer .column3, #footer .column4 {
    float: right;
    width: 17.2%;
    min-height: 120px;
    margin-right: 15px;
    /* background: url(/shop/skin/frontend/default/cibaria-supply/images/footer-column-split.png) right no-repeat; */
}

ul, ol {
    list-style: none;
}

.column4 ul {
    margin: 0;
    padding: 0;
}

#footer .column4 ul li {
    line-height: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #7E7E7E;
    display: block;
    font-size: 22px;
    /* background: url(/shop/skin/frontend/default/cibaria-supply/images/arrow-right-small.png) left 7px no-repeat; */
    padding-left: 8px;
}
a:hover{
    color: #7E7E7E;
}